@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background-color: rgb(95, 114, 128);
}
h1{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Antonio', sans-serif;

}
.search{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    border:none;
    
}
.search-button{
    width:50px;
}
input{
    width:500px;
    font-size: 25px;

}
.image{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}
.div-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:400px;
    margin: 5px;
    background-size: cover;
    background-position: center;
    color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-out;
    
}
.div-image:hover{
    filter: opacity(0.7);
    color: white;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.div-image a{
    width:80px;
    text-align: center;
    border-style: solid;
}
.listFilm{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}

